NSTOX.DataPusher/Service References/BOService/BOService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NSTOX.WebService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NSTOX.WebService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18491/BOService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NSTOX.BODataProcessor.Model" />
  <xs:complexType name="BOFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileContent" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NSTOX.BODataProcessor.Model" minOccurs="0" name="FileType" type="q1:BOFileType" />
      <xs:element minOccurs="0" name="RetailerId" type="xs:int" />
      <xs:element minOccurs="0" name="RetailerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BOFile" nillable="true" type="tns:BOFile" />
</xs:schema>