NSTOX.DataPusher/Service References/BOService/BOService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nstox.smallfootprint.net/BOService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NSTOX.WebService.Model" />
  <xs:element name="PushBOFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NSTOX.WebService.Model" minOccurs="0" name="file" nillable="true" type="q1:BOFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushBOFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PushBOFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessBOFilesForRetailer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="retailerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessBOFilesForRetailerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessBOFilesForRetailerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessBOFiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessBOFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessBOFilesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>